/* Reset some default styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #20232f;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 20px;
    left: auto;
    height: 12%;
    width: 80%;
    padding: 30px 20px;
    border-radius: 100px;
    background-color: #ffffff7f;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;    
}

.logo {
    background-image: url('/login-register/img/Dash1.png');
    background-size: cover;
    background-position: center;
    font-size: 2em;
    color: #000000;
    user-select: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.Dash {
    position: fixed;
    padding: 5px 70px;
    font-size: 2em;
    color: #162938;
    cursor: pointer;
}

.navigation a {
    position: relative;
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #02ecff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
} 


.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #000000;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #02ecff;
    color: #162938;
}


.container {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 15px;
    text-align: center;
    background-color: #ffffff88;
    border: 2px solid rgba((240, 240, 240, 0.278) 255, 255, .5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 0 10px 10px #02ecff;
}

form {
    display: inline-block;
    margin: 0;
    padding: 0;
}
label {
    display: block;
    margin: 10px 0;
}
input[type="text"] {
    width: 100%;
    padding: 6px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #02ecff;
    color: white;
    padding: 8px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #02ecff;
}

.btn {
    width: 100%;
    height: 45px;
    background: #02ecff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #000000;
    font-weight: 500;
}   

#errorMessage {
    color: red;
    font-size: 15px; 
    font-style: italic; 
 
 }

.container .success-message,
.container .error-message{
    color: rgb(241, 0, 0);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

